<footer class="py-5 mt-5 bg-secondary text-light">
	<div class="container">
		<ul class="list-inline mb-0">
			<li class="list-inline-item"><i class="fab fa-facebook-f fa-2x"></i></li>
			<li class="list-inline-item"><i class="fab fa-twitter fa-2x"></i></li>
			<li class="list-inline-item"><i class="fab fa-instagram fa-2x"></i></li>
		</ul>
	</div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>