<!doctype html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<title></title>
</head>

<body>
	<div class="container my-5">
		<h1 class="display-1">yo</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nulla dolores ex esse perferendis, enim veritatis itaque cum pariatur, assumenda doloribus eveniet velit labore. Aperiam ratione suscipit corporis. Laudantium, eaque!</p>
	</div>

	<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>