<%- include('../inc/head'); %>
<%- include('../inc/nav'); %>

<header class="p-5 bg-dark text-light mb-5">
	<div class="container">
		<h1 class="display-4">
			<%=title%>
		</h1>
	</div>
</header>

<div class="container">

	<div class="card">
		<div class="card-body">
			<form name="signUpForm" action="/auth/signin" method="post">
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" name="username" id="username">
				  </div>
				  <div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" name="password" id="password">
				  </div>
				  <button type="submit" class="btn btn-primary">Sign In</button>
			</form>
		</div>
	</div>

</div>

<%- include('../inc/foot'); %>